APP_NAME=MView
APP_ENV=development

APP_USERNAME=admin
APP_PASSWORD=change-me
JWT_SECRET=change-me

JM_IMAGE_ROOT=/mnt/hdd/JMDownload/images

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_PORT=5173
